<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site to learn full-stack development and git">
    <meta author="author" content="Arthur Gonçalves">
    <link rel="icon" href="{{url_for('static', filename='icons/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Arthurzera</title>
    {% endif %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img alt='Arthurzera icon' src="{{url_for('static', filename='icons/arthurzera.jpg')}}" width="30px">
                Arthurzera
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_anonymous%}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('login')}}">Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('user', username=username)}}">
                                {{current_user.username}}
                                <img src="{{current_user.profile_picture_url}}" width="30px" alt="User profile picture">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                            
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <br>
    <div class="container">


        {% for error in get_flashed_messages(category_filter=["error"]) %}
        <p class=" alert alert-danger alert-dismissable fade show">{{ error }}</p>
        {% endfor %} {% for warning in get_flashed_messages(category_filter=["warning"]) %}
        <p class=" alert alert-warning alert-dismissable fade show">{{ warning }}</p>
        {% endfor %} {% for info in get_flashed_messages(category_filter=["info"]) %}
        <p class=" alert alert-info alert-dismissable fade show">{{ info }}</p>
        {% endfor %} {% for message in get_flashed_messages(category_filter=["success"])%}
        <p class=" alert alert-success alert-dismissable fade show">{{ message }}</p>
        {% endfor %}
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer style="padding-bottom:10px;">
        <div class="container">
            <span class="text-muted">Admin: Arthur Gonçalves Azevedo</span><br>
            <span class="text-muted">Contact email: arthuzeramicroblog@gmail.com</span><br>
            <span class="text-muted">Phone: +55 79 4002-8922</span>
        </div>
    </footer>

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
</html>