 
    {% extends "html/base.html" %}

    {% block content %}
    <div class="container">
        <div class="page-header">
        <ul class="list-group">
        {% for post in posts %}
                <li class="list-group-item">
                <h2>
                    <img class="rounded" href = "{{url_for('user', username=post.author.username)}}" style="align: left" src="{{post.author.profile_picture}}" width=50 style="margin-right:15px;">
                   
                     {{post.author.username.title()}} says: </h2> 
                                        
                    <p>{{post.body}}</p>
                </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    
    {% endblock %}
 