{% block content %}
	<div>
		<h2>{{current_user.username}}'s Config</h2>
		<hr>
	</div>
	
	<div class="row my-2">
		<div class="col-sm-8">	
			<div class="card">
				<div class="card-header bg-primary">Email Address</div>
				<div class="card-body">{{current_user.email}}</div>
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header bg-info">Account Actions</div>
				<div class="card-body">
					<p><a href="{{url_for('edit', username=current_user.username)}}">Change user information</a></p>
					<p><a href="">Change email</a></p>
				
					{% if not current_user.email_confirmed %}
						<p><a href="">Resend confirmation email</a></p>
					{% endif %}
						<p><a href="{{url_for('change_user_password', username=current_user.username)}}">Change password</a></p>
					{% if current_user.email %}
						<p><a href="{{url_for('reset')}}">Send email to reset password</a></p>
					{% endif %}
				</div>
			</div>	
		</div>
	</div>
	<div class="row my-2">
		<div class="col-sm-8">
			<div class="card ">
				<div class="card-header bg-info">Statistics</div>
				<div class="card-body">
					<p>Member since: {{current_user.registered_on.strftime("%A %B %d, %Y ")}}</p>
					<p>
					{% if current_user.last_seen %}
						Last logged in: {{current_user.last_seen.strftime("%A %B %d, %Y")}}
					{% else %}
						First time logged in!
					{% endif %}
					</p>
					<p>
					{% if current_user.email_confirmed %}
						Email confirmed on: {{ current_user.email_confirmed_on.strftime("%A %B %d, %Y ")}}
					{% else %}
						Email has not been confirmed yet!!
					{% endif %}
				    </p>
					</div>
			</div>
		</div>			
	</div>			
		
	
{% endblock %}